@use 'colors.scss' as *;

.splat-list {
    min-height: 80px;
    padding: 4px 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .splat-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        padding: 6px 8px;
        margin: 0 4px;
        border-radius: 6px;
        background-color: transparent;
        transition: background-color 120ms ease, color 120ms ease;

        &:hover:not(.selected).visible {
            cursor: pointer;
            background-color: $bg-light-hover;
        }

        &.selected {
            background-color: $bcg-darker;
        }

        #splat-edit {
            margin: 0;
            flex-grow: 1;
            flex-shrink: 1;
        }

        .splat-item-text {
            flex-grow: 1;
            flex-shrink: 1;
            color: $text-secondary;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .visible & {
                &:hover:not(.selected) {
                    color: $text-primary;
                }
            }

            .selected & {
                color: $text-primary;
            }
        }

        .splat-item-visible {
            flex-grow: 0;
            flex-shrink: 0;

            width: 24px;
            height: 24px;
            line-height: 24px;

            color: $text-secondary;
            border-radius: 4px;

            cursor: pointer;

            .visible & {
                color: $text-secondary;
            }

            &:hover {
                color: $text-primary;
                background-color: $bg-light-hover;
            }
        }

        .splat-item-delete {
            flex-grow: 0;
            flex-shrink: 0;

            padding: 4px;
            width: 16px;
            height: 16px;
            line-height: 16px;

            color: $text-secondary;
            border-radius: 4px;

            cursor: pointer;

            &:hover {
                color: $text-primary;
                background-color: $bg-light-hover;
            }
        }
    }
}
